<h2><%= training.name %> </h2>
<small>Dodano: <%= training.added_dttm.toLocaleString('pl-PL', {
    weekday: 'long',
    day: 'numeric', 
    year: 'numeric', 
    month: 'long',
    hour: 'numeric',
    minute: 'numeric',
}) %> </small>
<!-- <button id="btnSaveTraining" class="btn">Zapisz trening</button> -->
<main>
    <% for( let i = 0; i < training.exercises.length; i++ ) { %>
        <div class="exercise-box">
            <div class="inside-box">
                <header>
                    <h2 class="box-title"><%= training.exercises[i].name %></h2>
                </header>
                <div class='adding-menu'>
                    <form class="add-repetitions-form" method="POST" action="/training/rep/<%= encodeURIComponent(training.name) %>/<%= encodeURIComponent(training.exercises[i].name) %>">
                        <input type="text" class="input-text" id="count-<%= training.exercises[i].name %>" name="rep" required>
                        <input type="submit" class="btn btn-add-ex" value="Dodaj">
                    </form>
                </div>
                <div id="stored-list" class="stored-list">
                    <ol id="list-<%= training.exercises[i].name %>">
                        <% for( let j = 0; j < training.exercises[i].count.length; j++ ) { %>
                            <li>
                                <%= training.exercises[i].count[j] %>
                                <form class = "deleteRepForm" method="POST" action="/training/rep/<%= encodeURIComponent(training.name) %>/<%= encodeURIComponent(training.exercises[i].name) %>/<%= i %>?_method=DELETE">
                                    <button type="submit" class='close remove-rep'>x</button>
                                </form>                     
                            </li>
                        <% } %>
                    </ol>
                </div>
                    <form method="POST" action="/training/exercise/<%= encodeURIComponent(training.name) %>/<%= encodeURIComponent(training.exercises[i].name) %>?_method=DELETE">
                        <button type="submit" class='btn btn-delete'>Usuń ćwiczenie</button>
                    </form>
            </div> 
        </div>
    <% } %>
</main>
<%- include('../partials/addExBtn.ejs') %> 
<div id="modalNewExercise" class="modal">
    <div class="modal-content">
        <span class="close" id="modalAddExClose">&times;</span>
        <form method="POST" action="/training/exercise/<%= training.name %>">
            <label for="newExName">Podaj nazwę ćwiczenia</label><br>
            <input type="text" class="" id="newExName" name="newExName">
            <input type="submit" class="btn btn-add" value="Dodaj">
        </form>
    </div>
</div>