<h2><%= exName %> </h2>
<% for( let i = 0; i < trainings.length; i++ ) { %>
        <div class="exercise-box trainingList">
            <a class="blankLink font-black" href="/training/<%= encodeURIComponent(trainings[i].name) %>"><%= trainings[i].name %> </a><br>
            <small>Dodano: <%= trainings[i].added_dttm.toLocaleString('pl-PL', {
                weekday: 'long',
                day: 'numeric', 
                year: 'numeric', 
                month: 'long',
                hour: 'numeric',
                minute: 'numeric',
            } ) %></small>
            <p>
                <% for( let j = 0; j < trainings[i].exercises[0].count.length; j++ ) { %>
                    <% if (j < trainings[i].exercises[0].count.length - 1) { %>
                        <%= trainings[i].exercises[0].count[j] %>, 
                    <% } else { %>
                        <%= trainings[i].exercises[0].count[j] %> 
                    <% } %>
                <% } %>
            </p>
        </div>
<% } %>
